@import "../scss/variables";
.nav_bar {
background-color: $navbarBgColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    li {
      gap: 1rem;
      a {
        text-decoration: none;
        font-size: 2rem;
        color: black;
        font-family: $fontFamily;
        text-shadow: 2px 2px 3px brown;
        transition: 1s;
      }
      :hover{
       font-size: 3rem;
      }
    }
  }
  img {
    order: -1;
    width: 100px;
    height: 100px;
  }
}
